.feature-wrapper{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
    grid-template-columns: 50% 50%;
}

.feature-icon-box{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.feature-title{
    margin-bottom: 1rem;
}

.feature-icon {
    font-size: 2.5rem;
  }