
.about-section{
    padding: 0;
}
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    gap: 2rem;
}

.section-left {
    text-align: left;
    max-width: 500px;
}

.section-left .heading {
    font-weight: 800;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.about-wrapper li{
    margin-bottom: 2rem;
    list-style-type: disc;
    margin-left: 3rem;
}
.section-right img{
    height: 35rem;
    object-fit: contain;
}