@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1a8357;
  --primary-text: #282F33;
  --secondary-text: #999B9D;
  --light-green: #86C6AB;
  --dark-green: #48B285;
  --white-text: #ffffff;
  --section-bg: #637580;
  --footer-bg: #282F33;
  --border-color: #8d8f9096;
  --place-holder: #96A1A8;
  --yellow-color: #C9D668;
  --heading-color: #282F33;
  --text-color: #2d3133;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: var(--heading-color);
}

p,
li,
input,
button,
span,
textarea {
  font-family: 'Open Sans', sans-serif;

}

::placeholder {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;

}

.section,
.footer {
  padding: 5rem 4rem;

}


.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
}

.section-heading {
  font-weight: 800;
  text-align: center;
  font-size: 2rem;
}

.icons {
  color: var(--primary-color);
  font-size: 1.7rem;
}